*{
    margin: 0;
    box-sizing: border-box;
}

.logo{
    height: 100px;
    margin: 30px;
}

h1{
    position: absolute;
    font-size: 80px;
    left: 150px;
    top: 40px;
}

.container-button{
    height: 50px;
    width:80%;
    background-color: blue;
    margin: 30px auto 0px;

}

.button-task{
    height:40px ;
    width: 90px ;
    border-radius: 5px;
    color: white;
    background-color: #45ABEA;
    margin-left: 60px;
}

.button-section{
    height:40px ;
    width: 130px ;
    border-radius: 5px;
    background-color: white;
    color: gray;
}

.list{
    background-color: aqua;
    width: 80%;
    height: 1100px;
    margin: 0px auto;
}

ul{
    padding: 40px;
    margin-left: 40px;
    font-size: 30px;
}

li{
    padding: 10px;
}

main{
    background-color: black;
}
