*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body{
    background-color: #F6F8F9;
}

header{
    background-color: white;
}

.logo{
    height: 100px;
    margin: 30px;
}

h1{
    position: absolute;
    font-size: 80px;
    left: 150px;
    top: 40px;
}

.container-button{
    height: 80px;
    width:60%;
    background-color: rgb(255, 255, 255);
    margin: 40px auto 2px;
    border-radius: 5px;
}

.button-task{
    height:40px ;
    width: 90px ;
    border-radius: 5px;
    color: white;
    background-color: #45ABEA;
    margin-left: 80px;
    margin-top: 20px;
}

.button-section{
    height:40px ;
    width: 130px ;
    border-radius: 5px;
    background-color: white;
    color: gray;
}

.list{
    background-color: white;
    width: 60%;
    height: 1100px;
    margin: 0px auto;
}

ul{
    padding: 40px;
    margin-left: 40px;
    font-size: 30px;
    list-style: none;
}

li{
    padding: 10px;
}

.checkd{
    color: rgb(0, 255, 0);
    border-radius: 50%;
    border:1px solid rgb(0, 255, 0) ;
}
    
.uncheckd{
    color: rgb(255, 0, 0);
    border-radius: 50%;
    border:1px solid rgb(255, 0, 0) ;
}

.tag{
    display: inline-block;
    color: white;
    background-color: #47ADF1;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
}