*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
}

.logo{
    height: 100px;
    margin: 30px;
}

h1{
    position: absolute;
    font-size: 80px;
    left: 150px;
    top: 40px;
}

.container-button{
    height: 50px;
    width:80%;
    background-color: white;
    margin: 40px auto 1px;

}

.button-task{
    height:40px ;
    width: 90px ;
    border-radius: 5px;
    color: white;
    background-color: #45ABEA;
    margin-left: 60px;
}

.button-section{
    height:40px ;
    width: 130px ;
    border-radius: 5px;
    background-color: white;
    color: gray;
}

.list{
    background-color: white;
    width: 80%;
    height: 1100px;
    margin: 0px auto;
}

ul{
    padding: 40px;
    margin-left: 40px;
    font-size: 30px;
    list-style: none;
}

li{
    padding: 10px;
}

.checkd{
    color: green;
    border-radius: 50%;
    border:1px solid green ;
}
    
.uncheckd{
    color: rgb(255, 0, 0);
    border-radius: 50%;
    border:1px solid rgb(255, 0, 0) ;
}

main{
    background-color: rgb(232, 232, 232);
}

